NODE_ENV=local
MONGODB_URI=mongodb://localhost:27017/doteducation
SERVER_HOST=0.0.0.0
SERVER_PORT=4000

JWT_SECRET=OR5t0v7yk3z7qw77
AUTH_CODE=localAuthCode
CRYPTO_SALT=0fd1b53ac50026ab7

SIGNER_ACCOUNT_ID=
SIGNER_MNEMONIC=
MINT_COLLECTION_ID=

AWS_SES_REGION=
AWS_SES_ID=
AWS_SES_SECRET=
AWS_SES_SOURCE=noreply@polkadot.education

APP_URL=http://doteducation-app:3000
DEBUG=0
