@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");
@import '../node_modules/@mdxeditor/editor/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 328 100% 45%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 0, 0%, 79%;
    --ring: 328 100% 45%;
    --radius: 4px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.unbound-font {
  font-family: "Unbounded", sans-serif;
}

.mdxeditor h1,
.mdxeditor h2,
.mdxeditor h3,
.mdxeditor h4,
.mdxeditor h5,
.mdxeditor h6 {
  font-weight: 700;
  font-family: "Unbounded", sans-serif;
}

.mdxeditor h1 {
  font-size: 2em;
}

.mdxeditor h2 {
  font-size: 1.5em;
}

.mdxeditor h3 {
  font-size: 1.17em;
}

.mdxeditor h4 {
  font-size: 1em;
}

.mdxeditor h5 {
  font-size: 0.83em;
}

.mdxeditor h6 {
  font-size: 0.67em;
}
