name: CI/CD workflow

on:
  pull_request:
    branches:
      - develop
      - main
  push:
    branches:
      - develop
      - main

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.event.pull_request.base.ref || github.ref_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Set up environment variables
        run: |
          touch .env
          echo "NODE_ENV=${{ vars.NODE_ENV }}" >> .env
          echo "HOST=${{ vars.HOST }}" >> .env
          echo "PORT=${{ vars.PORT }}" >> .env
          echo "NEXT_PUBLIC_API_DOMAIN=${{ vars.API_DOMAIN }}" >> .env
          echo "" >> .env

      - name: Install
        run: yarn

      - name: Format
        run: yarn format

      - name: Lint
        run: yarn lint

      - name: Setup codebase
        run: |
          git clone https://github.com/PolkadotEducation/local-setup local-setup
          cd local-setup
          ./run.sh

      - name: Checkout correct branch
        run: |
          cd local-setup/codebase/app
          if [[ -n "${{ github.head_ref }}" ]]; then
            git checkout ${{ github.head_ref }}
          else
            git checkout ${{ github.ref_name }}
          fi

      - name: Start services
        working-directory: local-setup
        run: docker compose --profile slim up -d & yarn wait

      - name: Test with Cypress
        run: yarn test

      - name: Tear down services
        working-directory: local-setup
        run: docker compose down
